    
header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background: #c52f24;
    color: white;
}
    
footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background: #c52f24;
    color: white;
}
    
.partial {
    border: 1px solid red;
    padding: 15px;
}

table th {
    background-color: #ffdfdf;
    padding: 10px 20px;
}
    
table td {
    background-color: #f1c8c861;
    padding: 10px 20px;
}
    
.notice {
    background-color: #98ecaa7a;
    padding: 5px;
    border: 2px solid #5cd075;
}